body{
    margin: 50px;
}

.contact-form {
    max-width: 500px;
    margin: auto;
}



@media screen and (max-width: 990px){
    .deskTopBox, .deskBottomBox{
        display: none;
    }
  }

@media screen and (min-width: 1300px) {
    .weDontUseStupidNamesForAReason {
        transform: translateY(-300px) !important;
    }
    body{
        margin: 100px;
    }  
  }

  @media screen and (min-width: 990px){
    .mobileTopBox, .mobileBottomBox{
        display: none;
    }
  }

/* @media (max-width: 991.98px) {
    .position-apsolute {
        position: static;
    }
} */
    
.carouselExampleIndicators{
    position: absolute;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
  } 