body{
    margin: 100px;
}

.contact-form {
    max-width: 500px;
    margin: auto;
}

.weDontUseStupidNamesForAReason{
}
@media screen and (min-width: 1300px) {
    .weDontUseStupidNamesForAReason {
        transform: translateY(-200px) !important;

    }
  }