.box {
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: rgb(51, 255, 0);
}

.box2 {
    background-color: red;
    padding: 30px;
}

.mainCon {
    display: flex;
    flex-direction: row;
}

img {
    width: auto;
    height: auto;
}

h2 {
    align-items: center;
}